div, body{
    background-color: blanchedalmond;
}

h1{
    text-align: center;
    background-color: burlywood;
    padding: 20px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;

}

h3{
    font-size: 25px;
    padding-left: 20px;
    padding-top: 20px;
}

button{
    background-color: burlywood;
}

img{
    display: block;
    margin: 0 auto;
    width: 50%;
    border: 8px double black;
}


.nav{
    font-size: 35px;
    list-style-type: none;
}

.ing{
    font-size: 20px;
    margin: 20px;
}

.dir{
   margin: 10px;
}

.list{
    text-align: center;
    background-color: blanchedalmond;
    margin-right: 20px;
}

.spacey{
    margin: 10px;
    
}

.block{
    background-color: burlywood;
    margin: 20px;
    padding-bottom: 10px;
    border: 7px double black;
}

a{
    text-decoration: none;
    font-size: 25px;
    padding: 5px;
    background-color: burlywood;
    display: inline-block;
}



    a:link {
        color: black;
    }
    a:visited {
        color: black;
    }
    a:hover{
        color:gray;
        background-color: beige;
    }
    a:active{
        color:white;
    }